In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [3]:
df = pd.read_csv("/content/knn_imputed_df_Aoti (1).csv")
df.head()

,Unnamed: 0,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [4]:
# Remove the unnamed column

df.drop(df.columns[df.columns.str.contains('Unnamed',case=False)],axis=1,inplace=True)

In [5]:
df.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [6]:
df.drop('datetime',axis=1,inplace=True)

In [7]:
df.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [8]:
from sklearn.decomposition import PCA

pca = PCA(n_components=8)
df1 = pca.fit_transform(df)

In [9]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [10]:
df2 = pd.DataFrame(df1,columns=['col1','col2','col3','col4','col5','col6','col7','col8'])
df2.head()

,col1,col2,col3,col4,col5,col6,col7,col8
0,-977.573510,-64.201180,18.971706,2.351361,31.196995,0.256194,-18.227779,2.920314
1,-977.152092,-58.780816,18.322011,1.357360,32.170406,-0.137245,-18.310606,2.451790
2,-977.124431,-60.404384,13.859523,1.085215,30.408787,1.322464,-18.223703,2.303667
3,-977.129423,-61.697230,12.435307,1.919902,31.397072,7.241297,-16.964263,1.702861
4,-977.410261,-65.671615,12.503663,2.644822,30.304642,8.893687,-17.331112,1.092676

In [11]:
corr_matrix = df.corr(method='pearson')

In [12]:
corr_matrix

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
PM2.5,1.000000,0.878388,0.480248,0.685195,0.784221,-0.156211,-0.127876,-0.005781,0.121641,-0.014022,-0.280788
PM10,0.878388,1.000000,0.469159,0.654143,0.682556,-0.135502,-0.109346,-0.036485,0.064366,-0.027520,-0.185866
SO2,0.480248,0.469159,1.000000,0.434392,0.536170,-0.201196,-0.351329,0.204134,-0.281069,-0.041440,-0.116712
NO2,0.685195,0.654143,0.434392,1.000000,0.692870,-0.492017,-0.240592,0.080699,0.068196,-0.039729,-0.494608
CO,0.784221,0.682556,0.536170,0.692870,1.000000,-0.322316,-0.366761,0.215368,-0.099581,-0.016370,-0.285733
O3,-0.156211,-0.135502,-0.201196,-0.492017,-0.322316,1.000000,0.586044,-0.422594,0.296388,0.026228,0.341284
TEMP,-0.127876,-0.109346,-0.351329,-0.240592,-0.366761,0.586044,1.000000,-0.827133,0.823119,0.036597,0.037774
PRES,-0.005781,-0.036485,0.204134,0.080699,0.215368,-0.422594,-0.827133,1.000000,-0.776360,-0.060405,0.071396
DEWP,0.121641,0.064366,-0.281069,0.068196,-0.099581,0.296388,0.823119,-0.776360,1.000000,0.080766,-0.305207
RAIN,-0.014022,-0.027520,-0.041440,-0.039729,-0.016370,0.026228,0.036597,-0.060405,0.080766,1.000000,0.022473
WSPM,-0.280788,-0.185866,-0.116712,-0.494608,-0.285733,0.341284,0.037774,0.071396,-0.305207,0.022473,1.000000

In [13]:
fd = pd.read_csv("/content/Result_F_.csv")
fd.head()

   Unnamed: 0  y_test  Knn_prediction_ET  Miss_Prediction  KNN_Prediction_RF
0       10335    19.0          17.166667        16.250000          15.333333
1       30514    22.0          18.666667        23.583333          24.500000
2       18770    34.0          72.166667        86.000000          72.250000
3        9085    16.0          14.083333        22.000000          11.861111
4       30208    81.0          75.666667        78.583333          78.583333

In [14]:
fd.drop(fd.columns[fd.columns.str.contains('Unnamed',case=False)],axis=1,inplace=True)

In [15]:
fd.head()

   y_test  Knn_prediction_ET  Miss_Prediction  KNN_Prediction_RF
0    19.0          17.166667        16.250000          15.333333
1    22.0          18.666667        23.583333          24.500000
2    34.0          72.166667        86.000000          72.250000
3    16.0          14.083333        22.000000          11.861111
4    81.0          75.666667        78.583333          78.583333

In [16]:
corr = fd.corr(method='pearson')

In [17]:

corr1 = fd.corr(method='kendall')

In [18]:
corr2 = fd.corr(method='spearman')

In [19]:
corr

,y_test,Knn_prediction_ET,Miss_Prediction,KNN_Prediction_RF
y_test,1.000000,0.967378,0.958918,0.963791
Knn_prediction_ET,0.967378,1.000000,0.983712,0.989971
Miss_Prediction,0.958918,0.983712,1.000000,0.980956
KNN_Prediction_RF,0.963791,0.989971,0.980956,1.000000

In [20]:
corr1

,y_test,Knn_prediction_ET,Miss_Prediction,KNN_Prediction_RF
y_test,1.000000,0.845982,0.832682,0.840829
Knn_prediction_ET,0.845982,1.000000,0.906578,0.917828
Miss_Prediction,0.832682,0.906578,1.000000,0.899557
KNN_Prediction_RF,0.840829,0.917828,0.899557,1.000000

In [21]:
corr2

,y_test,Knn_prediction_ET,Miss_Prediction,KNN_Prediction_RF
y_test,1.000000,0.963770,0.954826,0.961158
Knn_prediction_ET,0.963770,1.000000,0.981213,0.989769
Miss_Prediction,0.954826,0.981213,1.000000,0.979039
KNN_Prediction_RF,0.961158,0.989769,0.979039,1.000000